body{ /*center the body and configure it to be easily customizable*/
    background-color: #18191A;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.game {
    display: none;
    color: white;
}

h1{
    margin-top: 1em;
}

h4{
    margin-top: -1em;
}

.button-class{ /*editing the button "div"*/
    /*set to invisible when the button has been pressed*/
    display: block;
    margin: 0;
    position: absolute; 
    /*put it in the center of the screen*/
    top: 50%; 
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.button-class .play-button{ /*styling the button itself, inside button-class*/
    padding: 8px;
    margin: 2px;
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transform: scale(2.0);
}
.play-button:hover{
    transform: scale(2.2);
    background-color: #4C9A2A;
}

#player-cards img, #dealer-cards img{
    height: 175px;
    width: 125px;
    margin-right: 8px;
}

#hit-button, #stay-button {
    display: none;
    margin-top: 2em;
    border-radius: 10px;
    padding: 1em 3em;
}

#hit-button:hover, #stay-button:hover {
    transform: scale(1.03);
    background-color: rgb(189, 187, 181);
}

#result {
    display: inline-block;
    margin-top: 1em;
    font-size: 2em;
    vertical-align: middle;
}

#reset-button{
    display: none;
    border-radius: 1em;
    padding: 1em 2em;
    margin-left: 0.7em;
}

#reset-button:hover {
    transform: scale(1.1);
    font-weight: bold;
}